#expr {
    display: table;
    border-collapse: collapse;
    width: 100%;

}

.el {
    display: table-cell;
    vertical-align: top;
}

.el img {
    display: block;
    width: 100%;
    height: auto;
}